*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
   
}
.child{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child1{
    background-color: burlywood;
}
.child2{
    background-color: cadetblue;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent1{
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.childa{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child3{
    background-color: burlywood;
    display: flex;
    justify-content: start;
    align-items: end;
}
.child4{
    background-color: burlywood;
    display: flex;
    justify-content: end;
    align-items: start;
    
}

.one{
    height: 50%;
    width: 50%;
    background-color: cadetblue;

}
.two{
    height: 50%;
    width: 50%;
    background-color: cadetblue;

}

.parent2{
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.childb{
    height: 100%;
    width: 33.33%;

}
.child5{
    background-color: burlywood;
    display: flex;

}
.child6{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child7{
    background-color: burlywood;
    display: flex;

}

.three{
    height: 50%;
    width: 50%;


}
.four{
    height: 75%;
    width: 25%;
    background-color: tan;
    justify-content: center;
    align-items: center;

}
.baby{
    height: 50%;
    width: 50%;
    background-color: peachpuff;
}
.five{
    height: 50%;
    width: 50%;
}

.parent3{
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.child8{
    height: 100%;
    width: 25%;
    background-color: cadetblue;
    display: flex;

}
.child9{
    height: 100%;
    width: 25%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child10{
    height: 100%;
    width: 25%;
    background-color: cadetblue;
    display: flex;

}
.child11{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
}

.six{
    height: 50%;
    width: 100%;
    background-color: silver;
    justify-content: center;
    align-items: center;


}
.seven{
    height: 50%;
    width: 100%;
    background-color: gold;
    justify-content: center;
    align-items: center;

}